---
layout: base.njk
---
<div class="event-post h-event">
    <h1 class="p-name">{{ title }}</h1>

    <div class="datetime">
        <p class="date">{{ date | date('ccc dS LLLL') }}</p>
        <p class="time">
            <span class="starttime">{{ date | date('h:mma') }}</span>
            <span class="endtime">–{{ endDate | date('h:mma') }}</span>
        </p>
        <time class="dt-start">{{ date | date("yyyy-LL-dd'T'HH:mm:ssZZZ") }}</time>
        <time class="dt-end">{{ endDate | date("yyyy-LL-dd'T'H:mm:ssZZZ") }}</time>
    </div>

    <p class="subscribe">
        <a href="{{ path | url | absoluteUrl(config.baseUrl) | webcal }}">
            <span role="img">🗓</span>
            <span>Add this game to your calendar</span>
            <small>in iOS, MacOS and Office</small>
        </a>
    </p>

    <table id="EventDetails">
        <tr>
            <th>Venue</th>
            <th>TV</th>
        </tr>
        <tr>
            <td class="p-location">{{ locationName }}</td>
            <td class="tv-channels">
                {% for on in tv %}
                    <span>{{ on }}</span>
                {% endfor %}
            </td>
        </tr>
    </table>

    <div class="blog-post-content p-summary">
        {{ content | safe }}
    </div>
</div>

<h2>Want more?</h2>
<ul class="inline">
    {% for tag in tags | validTags %}
        <li>
            <a href="{{ ('/' + (tag | slugify) + '/') | url | absoluteUrl(config.baseUrl) }}" rel="tag">{{ tag }} games</a>
        </li>
    {% endfor %}
    <li>
        <a href="{{ '/' | url | absoluteUrl(config.baseUrl) }}" class="all">All games</a>
    </li>
</ul>
