---
layout: base.njk
---
<h1>{{ title }}</h1>

<p class="subscribe">
    <a href="webcal://{{ (page.fileSlug + '.ics') | url | absoluteUrl(config.baseUrl) }}">
        <span role="img">🗓</span>
        <span>Add {{ title }} to your calendar</span>
        <small>in iOS, MacOS and Office</small>
    </a>
</p>

<table>
    <thead>
        <tr>
            <th>Day</th>
            <th>Time</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        {% for game in collections[collection] %}
        <tr class="vevent">
            <td class="datetime">
                {% if showDate(game.data.date, loop.index0, collections[collection]) %}
                  <span class="day">{{ game.data.date | date('ddd DD MMM') }}</span>
                {% endif %}
                <time class="dtstart">{{ game.data.date | date('YYYY-MM-DDTHH:mm:ssZ') }}</time>
                <time class="dtend">{{ game.data.endDate | date('YYYY-MM-DDTHH:mm:ssZ') }}</time>
            </td>
            <td class="time">
                <span>{{ game.data.date | date('H:mm') }}</span>
            </td>
            <td class="summary">
                <a class="url" href="{{ game.url | url | absoluteUrl(config.baseUrl) }}">{{ game.data.title }}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Want more?</h2>
<p><a href="{{ '/' | url | absoluteUrl(config.baseUrl) }}">All games</a></p>
