---
layout: base.njk
---

<h1>{{ tag }} Games</h1>
<p class="subscribe">
    <a href="{{ ('/' + (tag | slugify) + '/') | url | absoluteUrl(config.baseUrl) | webcal }}">
        <span role="img">🗓</span>
        <span>Add {{ tag }} games to your calendar</span>
        <small>in iOS, MacOS and Office</small>
    </a>
</p>
<table>
    <thead>
        <tr>
            <th>Day</th>
            <th>Time</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        {% for game in collections[tag] %}
            <tr class="vevent h-event">
                <td class="datetime">
                    {% if showDate(game.data.date, loop.index0, collections[tag]) %}
                        <span class="day">{{ game.data.date | date('ccc dS LLLL') }}</span>
                    {% endif %}
                </td>
                <td class="time">
                    <span>{{ game.data.date | date('H:mm') }}</span>
                    <time class="dt-start">{{ game.data.date | date("yyyy-LL-dd'T'HH:mm:ssZZZ") }}</time>
                    <time class="dt-end">{{ game.data.endDate | date("yyyy-LL-dd'T'H:mm:ssZZZ") }}</time>
                </td>
                <td class="summary">
                    <a class="p-name u-url" href="{{ game.page.url | url | absoluteUrl(config.baseUrl) }}">{{ game.data.title }}</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<h2>Want more?</h2>
<p>
    <a href="{{ '/' | url | absoluteUrl(config.baseUrl) }}">All games</a>
</p>
