---
layout: base.njk
---
<div class="event-post">
    <h1>{{ title }}</h1>

    <div class="datetime">
        <p class="date">{{ date | date('ddd DD MMM') }}</p>
        <p class="time">
            <span class="starttime">{{ date | date("h:mma") }}</span>
            <span class="endtime">–{{ endDate | date("h:mma") }}</span>
        </p>
    </div>

    <p class="subscribe">
        <a href="webcal://{{ path.slice(0, -1) + '.ics' | url | absoluteUrl(config.baseUrl) }}">
            <span role="img">🗓</span>
            <span>Add this game to your calendar</span>
            <small>in iOS, MacOS and Office</small>
        </a>
    </p>

    <table id="EventDetails">
        <tr>
            <th>Venue</th>
            <th>TV</th>
        </tr>
        <tr>
            <td>{{ locationName }}</td>
            <td class="tv-channels">
                {% for on in tv %}
                <span>{{ on }}</span>
                {% endfor %}
            </td>
        </tr>
    </table>

    <div class="blog-post-content">
        {{ content | safe }}
    </div>

    <h2>Want more?</h2>
    <ul class="inline">
        {% for tag in tags | validTags %}
        <li><a href="{{ '/' + (tag | slugify | url | absoluteUrl(config.baseUrl)) + '/' }}">{{ tag }} games</a></li>
        {% endfor %}
        <a href="{{ "/" | url | absoluteUrl(config.baseUrl) }}">All games</a>
    </ul>
</div>
