.description span {
    display: block;
}

thead {
    display: none;
}

td {
    position: relative;
    width: 33%;
}

td.datetime {
    text-align: right;
}

td.time {
    background-image: linear-gradient(90deg, transparent 0, transparent 49%, #FFF 49%, #FFF 51%, transparent 51%);
}

td.time span {
    background: #FFF;
    color: #000;
    display: inline-block;
    width: 4rem;
    height: 4rem;
    padding: 1.33rem 0;
    border-radius: 50%;
}

tr:first-child td {
    padding-top:2rem;
}

tr:last-child td {
    padding-bottom:2rem;
}

tr.past {
    opacity: 0.4;
}

td.summary {
    text-align: left;
}

time.dt-start,
time.dt-end {
    display: none;
}

@media only screen and (width <= 414px) {
    .description {
        display: none;
    }
}

@media only screen and (width <= 375px) {
    .location {
        display: none;
    }
}
