header {
    position: sticky;
    top: 0;
    z-index: 20;
    text-align: center;
    background: rgb(255 255 255 / 10%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    backdrop-filter: blur(16px) saturate(180%);
    border-bottom: 1px solid rgb(255 255 255 / 20%);
}

header > div {
    max-width: 960px;
    padding: 0 1rem;
    margin: 0 auto;
}

header h1 {
    padding: 2rem 0;
    margin-bottom: 0;
    font-size: medium;
    text-transform: uppercase;
}

header a {
    border: none;
}
