thead {
    display: none;
}

td.datetime {
    text-align: right;
}

td.time {
    background-image: -webkit-linear-gradient(180deg, transparent 0, transparent 49%, #FFFFFF 49%, #FFFFFF 51%, transparent 51%);
}

td.time span {
    background: #FFF;
    color: #000;
    display: inline-block;
    width: 4rem;
    height: 4rem;
    padding: 1.33rem 0;
    border-radius: 50%;
}
tr:first-child td {
    padding-top:2rem;
}
tr:last-child td {
    padding-bottom:2rem;
}
tr.past {
    opacity: 0.4;
}
td {
    width: 33%;
    position: relative;
}
td.summary {
    text-align: left;
}


time.dtstart,
time.dtend {
    display: none;
}
.description span {
    display: block;
}

@media only screen and (max-width : 414px) {
    .description {
        display: none;
    }
}

@media only screen and (max-width : 375px) {
    .location {
        display: none;
    }
}
    