@import url("_layout.css");
@import url("_header.css");
@import url("_subscribe.css");
@import url("_event.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');

#cookie-banner {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 0.75em 1.5em;
  font-size: 1em;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#cookie-banner button {
  margin-left: 1em;
  background: rgba(255,255,255,0.8);
  color: #000000;
  border: none;
  border-radius: 8px;
  padding: 0.4em 1em;
  cursor: pointer;
  font-size: 1em;
  transition: background 0.2s;
}
#cookie-banner button:hover {
  background: rgba(255,255,255,1)
}

.buy-me {
  position: fixed;
  left: 50%;
  bottom: 1.5em;
  transform: translateX(-50%);
  z-index: 1001;
  border-bottom: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.datetime {
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  font-weight: 900;
}