---
title: EURO 2020 Games
---
<h1>EURO 2020 Games</h1>

<p class="subscribe">
    <a href="#"> <!-- webcal://footballcal.com/euro-2020.ics -->
        <span role="img">🗓</span>
        <span>Add EURO 2020 games to your calendar</span>
        <small>in iOS, MacOS and Office</small>
    </a>
</p>

<table>
    <thead>
        <tr>
            <th>Day</th>
            <th>Time</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        {% for game in collections.euro2020 %}
        <tr id="" class="vevent">
            <td class="datetime">
                {% if true %}
                  <span class="day">{{ game.data.date | moment('ddd DD MMM') }}</span>
                {% endif %}
                <time class="dtstart">{{ game.data.date | moment('YYYY-MM-DDTHH:mm:ssZ') }}</time>
                <time class="dtend">{{ game.data.endDate | moment('YYYY-MM-DDTHH:mm:ssZ') }}</time>
            </td>
            <td class="time">
                <span>{{ game.data.date | moment('H:mm') }}</span>
            </td>
            <td class="summary">
                <a class="url" href="{{ game.url | url | absoluteUrl(config.baseUrl) }}">{{ game.data.title }}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
