---
title: EURO 2020 Games
---
<h1>EURO 2020 Games</h1>

<p class="subscribe">
    <a href="#"> <!-- webcal://footballcal.com/euro-2020.ics -->
        <span role="img">🗓</span>
        <span>Add EURO 2020 games to your calendar</span>
        <small>in iOS, MacOS and Office</small>
    </a>
</p>

<ul>
{% for game in collections['euro-2020'] %}
  <li><a href="{{ game.url | url | absoluteUrl(config.baseUrl) }}">{{ game.data.title }}</a></li>
{% endfor %}
</ul>
